faiss-cpu
httpx
jq
langchain
langchain-community
langchain-connectors
langchain-text-splitters
marimo
marimo[recommended]
marimo[sql]
matplotlib
nest_asyncio
ollama
pandas
plotly
ppp-connectors
psycopg2-binary
pymongo
pymysql
pyvis
requests
SQLAlchemy
tabulate